**Análise de dados realizada no Curso de Análise de Dados com Pandas da Ânima PT.2**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_excel("gas_novembro_df.xlsx")

In [ ]:
#Inserção simples de coluna
df["Ativo"] = True
display(df.info())

In [ ]:
#Criando uma coluna "Obs" extra preenchendo "Melhor Cidade" quando for no Município de RECIFE, PE.
df["Obs."] = ["MELHOR CIDADE" if munic == "RECIFE" else None for munic in df["Municipio"]]
display(df.loc[df["Municipio"].isin(["RECIFE", "SAO PAULO", "CAMPINAS"]), ["Municipio", "Obs."]])

In [ ]:
#Criando coluna "Status" para categorizar o preço dos produtos com numpy.
df["Status de Preço"] = np.where(df["Valor de Venda"] > 6.0, "Caro", "Barato")
display(df[["Valor de Venda", "Status de Preço"]])

In [ ]:
#Importando DF com alguns números de habitantes e separando os ";" do csv
num_hab_df = pd.read_csv("ibge_num_habitantes_estimado.csv", sep=";")
num_hab_df.rename(columns={"Estado":"Estado - Sigla"}, inplace=True)
display(num_hab_df)

In [50]:
#Fazendo MERGE dos dois DFs
merge_df = df.merge(num_hab_df, how="inner", on=["Municipio", "Estado - Sigla"])
display(merge_df)
print(merge_df.info())

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Status de Preço,Obs.,Ativo,NumHabitantes2021
0,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,GASOLINA,2021-11-01,6.999,NaN,R$ / litro,RAIZEN,Caro,None,True,1555626
1,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,ETANOL,2021-11-01,4.990,NaN,R$ / litro,RAIZEN,Barato,None,True,1555626
2,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,GASOLINA ADITIVADA,2021-11-01,7.130,NaN,R$ / litro,RAIZEN,Caro,None,True,1555626
3,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,GASOLINA,2021-11-01,6.990,NaN,R$ / litro,BRANCA,Caro,None,True,1555626
4,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,ETANOL,2021-11-01,4.990,NaN,R$ / litro,BRANCA,Barato,None,True,1555626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20629,SE,SP,INDAIATUBA,POSTO DOS ESTEVES LTDA,20.763.169/0001-00,AVENIDA ITORORO,160,NaN,CENTRO,13330-055,GASOLINA,2021-12-28,6.499,NaN,R$ / litro,IPIRANGA,Caro,None,True,260690
20630,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,DIESEL S10,2021-12-28,5.499,NaN,R$ / litro,RAIZEN,Barato,None,True,260690
20631,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,GASOLINA ADITIVADA,2021-12-28,6.699,NaN,R$ / litro,RAIZEN,Caro,None,True,260690
20632,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,ETANOL,2021-12-28,4.899,NaN,R$ / litro,RAIZEN,Barato,None,True,260690
20633,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,GASOLINA,2021-12-28,6.299,NaN,R$ / litro,RAIZEN,Caro,None,True,260690

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Regiao - Sigla     20634 non-null  object
 1   Estado - Sigla     20634 non-null  object
 2   Municipio          20634 non-null  object
 3   Revenda            20634 non-null  object
 4   CNPJ da Revenda    20634 non-null  object
 5   Nome da Rua        20634 non-null  object
 6   Numero Rua         20634 non-null  object
 7   Complemento        3837 non-null   object
 8   Bairro             20634 non-null  object
 9   Cep                20634 non-null  object
 10  Produto            20634 non-null  object
 11  Data da Coleta     20634 non-null  datetime64[ns]
 12  Valor de Venda     20634 non-null  float64
 13  Valor de Compra    0 non-null      float64
 14  Unidade de Medida  20634 non-null  object
 15  Bandeira           20634 non-null  object
 16  Status de Preço    20634 non-null  object
 17  Obs.               0 non-null      object
 18  Ativo              20634 non-null  bool
 19  NumHabitantes2021  20634 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(2), int64(1), object(15)
memory usage: 3.2+ MB
None

In [51]:
#Apagando colunas nulas com dropna
merge_df.dropna(axis=1, inplace=True)
display(merge_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Regiao - Sigla     20634 non-null  object
 1   Estado - Sigla     20634 non-null  object
 2   Municipio          20634 non-null  object
 3   Revenda            20634 non-null  object
 4   CNPJ da Revenda    20634 non-null  object
 5   Nome da Rua        20634 non-null  object
 6   Numero Rua         20634 non-null  object
 7   Bairro             20634 non-null  object
 8   Cep                20634 non-null  object
 9   Produto            20634 non-null  object
 10  Data da Coleta     20634 non-null  datetime64[ns]
 11  Valor de Venda     20634 non-null  float64
 12  Unidade de Medida  20634 non-null  object
 13  Bandeira           20634 non-null  object
 14  Status de Preço    20634 non-null  object
 15  Ativo              20634 non-null  bool
 16  NumHabitantes2021  20634 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(1), int64(1), object(13)
memory usage: 2.7+ MB

None

In [52]:
#Apagando colunas específicas
colunas = ["Regiao - Sigla", "Nome da Rua", "Numero Rua", "Bairro", "Cep", "Produto", "Data da Coleta", "Valor de Venda", "Unidade de Medida", "Bandeira", "Ativo", "Status de Preço"]
merge_df.drop(colunas, axis=1, inplace=True)
display(merge_df.info())
display(merge_df.head(150))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Estado - Sigla     20634 non-null  object
 1   Municipio          20634 non-null  object
 2   Revenda            20634 non-null  object
 3   CNPJ da Revenda    20634 non-null  object
 4   NumHabitantes2021  20634 non-null  int64
dtypes: int64(1), object(4)
memory usage: 967.2+ KB

None

,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,NumHabitantes2021
0,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,1555626
1,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,1555626
2,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,1555626
3,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,1555626
4,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,1555626
...,...,...,...,...,...
145,GO,GOIANIA,POSTO Z + Z T-63 LTDA,01.559.584/0001-00,1555626
146,GO,GOIANIA,POSTO Z + Z T-63 LTDA,01.559.584/0001-00,1555626
147,GO,GOIANIA,POSTO Z + Z T-63 LTDA,01.559.584/0001-00,1555626
148,GO,GOIANIA,POSTO Z + Z T-63 LTDA,01.559.584/0001-00,1555626
149,GO,GOIANIA,POSTO SILVERSTONE LTDA,11.000.552/0001-16,1555626

In [53]:
display(merge_df.head(150))

,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,NumHabitantes2021
0,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,1555626
1,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,1555626
2,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,1555626
3,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,1555626
4,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,1555626
...,...,...,...,...,...
145,GO,GOIANIA,POSTO Z + Z T-63 LTDA,01.559.584/0001-00,1555626
146,GO,GOIANIA,POSTO Z + Z T-63 LTDA,01.559.584/0001-00,1555626
147,GO,GOIANIA,POSTO Z + Z T-63 LTDA,01.559.584/0001-00,1555626
148,GO,GOIANIA,POSTO Z + Z T-63 LTDA,01.559.584/0001-00,1555626
149,GO,GOIANIA,POSTO SILVERSTONE LTDA,11.000.552/0001-16,1555626

In [54]:
#Apagando linhas duplicadas
merge_df.drop_duplicates(inplace=True)
display(merge_df.head(150))

,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,NumHabitantes2021
0,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,1555626
3,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,1555626
7,GO,GOIANIA,POSTO DN LTDA,05.413.136/0001-47,1555626
11,GO,GOIANIA,POSTO ALDEIA LTDA,04.896.662/0001-42,1555626
15,GO,GOIANIA,AUTO POSTO SANTA LUZIA LTDA,04.142.631/0001-04,1555626
...,...,...,...,...,...
1902,RJ,RIO DE JANEIRO,POSTO DE ABASTECIMENTO A GAS SANTA AMELIA LTDA,04.198.018/0001-09,6775561
1907,RJ,RIO DE JANEIRO,POSTO RFD LTDA.,03.996.678/0001-64,6775561
1913,RJ,RIO DE JANEIRO,CENTRO DE CONVENIENCIAS MILLENNIUM LTDA,03.546.544/0002-22,6775561
1917,RJ,RIO DE JANEIRO,POSTO DE ABASTECIMENTO IMPERIAL 2000 LTDA,03.447.202/0001-74,6775561
1922,RJ,RIO DE JANEIRO,POSTO DE GASOLINA BOA PARADA LTDA.,03.355.226/0001-01,6775561

In [70]:
#Agrupando e contando os postos de cada cidade
postos_municipio_df = merge_df.groupby(by=["Estado - Sigla", "Municipio", "NumHabitantes2021"]).count()
postos_municipio_df.drop("CNPJ da Revenda", axis=1, inplace=True)
postos_municipio_df.rename(columns={"Revenda": "Núm. Postos"}, inplace=True)
display(postos_municipio_df)
display(postos_municipio_df.info())

                                                 Núm. Postos
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                      44
GO             GOIANIA        1555626                     93
MG             BELO HORIZONTE 2530701                     54
MS             CAMPO GRANDE   916001                     104
PR             CURITIBA       1963726                    110
RJ             RIO DE JANEIRO 6775561                    379
RN             NATAL          803739                      37
RO             PORTO VELHO    548952                      40
RS             PORTO ALEGRE   1492530                     73
SP             CAMPINAS       1223237                     51
               INDAIATUBA     260690                      36
               SANTOS         433991                      36
               SAO PAULO      12396372                   429
               SAO VICENTE    370839                      20
TO             PALMAS         313349                      26

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 15 entries, ('AC', 'RIO BRANCO', 419452) to ('TO', 'PALMAS', 313349)
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Núm. Postos  15 non-null     int64
dtypes: int64(1)
memory usage: 680.0+ bytes

None

In [68]:
#Criando coluna de Postos por Habitantes
postos_municipio_df["Postos/Habitante"] = postos_municipio_df["Núm. Postos"] / postos_municipio_df["NumHabitantes2021"]
display(postos_municipio_df.info())
#AQUI TA BUGADO

KeyError: 'NumHabitantes2021'