In [ ]:
import pandas as pd

df = pd.read_excel("gas_novembro_df.xlsx")

In [23]:
#Exibindo informações do DataFrame
display(df.shape)
display(df.describe())
print(df.info())

(168409, 16)

       Valor de Venda  Valor de Compra
count   168409.000000              0.0
mean         6.005184              NaN
std          0.794541              NaN
min          2.849000              NaN
25%          5.339000              NaN
50%          5.859000              NaN
75%          6.699000              NaN
max          8.990000              NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168409 entries, 0 to 168408
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     168409 non-null  object
 1   Estado - Sigla     168409 non-null  object
 2   Municipio          168409 non-null  object
 3   Revenda            168409 non-null  object
 4   CNPJ da Revenda    168409 non-null  object
 5   Nome da Rua        168409 non-null  object
 6   Numero Rua         168353 non-null  object
 7   Complemento        35057 non-null   object
 8   Bairro             168043 non-null  object
 9   Cep                168409 non-null  object
 10  Produto            168409 non-null  object
 11  Data da Coleta     168409 non-null  datetime64[ns]
 12  Valor de Venda     168409 non-null  float64
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  168409 non-null  object
 15  Bandeira           168409 non-null  object
dtypes: datetime64[ns](1), float64(2), object(13)
memory usage: 20.6+ MB
None

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168404,NE,BA,JEQUIE,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,28.629.089/0001-79,AVENIDA T LOT JD TROPICAL,53,NaN,TROPICAL,45209-130,ETANOL,2021-12-31,5.859,NaN,R$ / litro,PETROSERRA
168405,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,GASOLINA,2021-12-31,6.580,NaN,R$ / litro,BRANCA
168406,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,ETANOL,2021-12-31,4.740,NaN,R$ / litro,BRANCA
168407,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,DIESEL S10,2021-12-31,5.448,NaN,R$ / litro,BRANCA
168408,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,GASOLINA ADITIVADA,2021-12-31,6.580,NaN,R$ / litro,BRANCA

In [20]:
#Filtrando algumas colunas e salvando em outro DF
produtos_df = df[["Revenda", "Municipio", "Produto", "Valor de Venda"]] 
display(produtos_df)

,Revenda,Municipio,Produto,Valor de Venda
0,POSTO ARAPIRACA LTDA,ARAPIRACA,GASOLINA,6.799
1,POSTO ARAPIRACA LTDA,ARAPIRACA,ETANOL,5.299
2,POSTO ARAPIRACA LTDA,ARAPIRACA,DIESEL,5.549
3,POSTO ARAPIRACA LTDA,ARAPIRACA,GASOLINA ADITIVADA,6.899
4,POSTO ARAPIRACA LTDA,ARAPIRACA,DIESEL S10,5.649
...,...,...,...,...
168404,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,JEQUIE,ETANOL,5.859
168405,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,GASOLINA,6.580
168406,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,ETANOL,4.740
168407,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,DIESEL S10,5.448
168408,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,GASOLINA ADITIVADA,6.580

In [ ]:
#Exibindo uma linha específica (.loc ou .iloc)
display(produtos_df.loc[4])

In [ ]:
#Exibindo intervalo de linhas
display(produtos_df.loc[4:9])

In [21]:
#Filtrando linhas com Gasolina em um novo DF
gas_df = produtos_df.loc[produtos_df["Produto"] == "GASOLINA"]
display(gas_df)

,Revenda,Municipio,Produto,Valor de Venda
0,POSTO ARAPIRACA LTDA,ARAPIRACA,GASOLINA,6.799
5,AUTO POSTO FREITAS & MAIA LTDA,DELMIRO GOUVEIA,GASOLINA,7.198
10,AUTO POSTO DA PEDRA LTDA,DELMIRO GOUVEIA,GASOLINA,7.197
14,COMERCIO DE COMBUSTIVEIS NENZITA LTDA,DELMIRO GOUVEIA,GASOLINA,7.175
19,MARCOS ANTONIO DA SILVA CABRAL,ITACOATIARA,GASOLINA,6.990
...,...,...,...,...
168392,AUTO POSTO KM BAURU LTDA,BAURU,GASOLINA,6.199
168394,COOPERCITRUS COOPERATIVA DE PRODUTORES RURAIS,ITUIUTABA,GASOLINA,6.899
168399,VICMAR COMERCIO DE COMBUSTIVEIS E LUBRIFICANTE...,CAMPOS DOS GOYTACAZES,GASOLINA,7.090
168403,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,JEQUIE,GASOLINA,6.799
168405,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,GASOLINA,6.580

In [7]:
#Exibindo o posto com gasolina mais cara
display(gas_df[["Revenda", "Municipio", "Valor de Venda"]].max())

Revenda           ZV POSTO DE SERVIÇO LTDA.
Municipio                           XANXERE
Valor de Venda                        7.999
dtype: object

In [18]:
#.loc com várias condições
#Descobrindo os preços e postos que vendem Etanol em Recife e ordenando de forma decrescente
#usar o "inplace=True" para salvar a ordenação no DataFrame
etanol_rec_df = produtos_df.loc[(produtos_df["Produto"] == "ETANOL") & (produtos_df["Municipio"] == "RECIFE")]
display(etanol_rec_df.sort_values(by="Valor de Venda", ascending=False))

,Revenda,Municipio,Produto,Valor de Venda
10190,SOCIEDADE COMERCIAL CAVALCANTI E FILHO LTDA.,RECIFE,ETANOL,5.684
110201,SOCIEDADE COMERCIAL CAVALCANTI E FILHO LTDA.,RECIFE,ETANOL,5.599
138242,POSTO SOPHIA LTDA,RECIFE,ETANOL,5.599
104876,SERVICAR S/A,RECIFE,ETANOL,5.595
10158,POSTO VERALI LTDA,RECIFE,ETANOL,5.499
...,...,...,...,...
167893,ROBERTO FERNANDES DE ARAUJO JUNIOR DISTRIBUIDO...,RECIFE,ETANOL,4.970
107981,POSTO ESCADENSE EIRELI,RECIFE,ETANOL,4.969
50904,POSTO ESCADENSE EIRELI,RECIFE,ETANOL,4.969
13544,POSTO MODELO LTDA,RECIFE,ETANOL,4.899
14699,POSTO ESCADENSE EIRELI,RECIFE,ETANOL,4.879

In [47]:
#Média dos preços da GASOLINA e da GASOLINA ADITIVADA do Bairro MOOCA em SÃO PAULO

display(df.loc[(df["Bairro"] == "MOOCA") & 
(df["Municipio"] == "SAO PAULO") & 
((df["Produto"] == "GASOLINA") | (df["Produto"] == "GASOLINA ADITIVADA")), 
["Valor de Venda"]].mean())

Valor de Venda    6.575596
dtype: float64

ANÁLISES EXTRAS

In [ ]:
#Encontrando apenas o preço mais alto entre todos os produtos
display(df.describe().iloc[7][0])

In [ ]:
#Filtrando as linhas com preço mais alto
display(df.loc[df["Valor de Venda"] == df.describe().iloc[7][0]])

In [ ]:
#Filtrando as linhas com preço mais alto usando .max()
display(df["Valor de Venda"].max())
display(df.loc[df["Valor de Venda"] == df["Valor de Venda"].max()])

In [ ]:
#Removendo a Coluna "Valor de Compra" por estar com valor NaN e salvando em outro DF
df_2 = df.drop(["Valor de Compra"], axis=1)
display(df_2.head())